*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    padding: 30px;

    grid-template-columns: 0.5fr 1fr;

    display: grid;

    column-gap: 10px;

    background-color: rgb(242, 235, 235);
    height: 100%;

}

/* LEFT-SIDE */

.left-card{
    width: 300px;
    height: 492.17px;
    background: #FFFFFF;

    border-radius: 12px;

    padding: 20px;

    margin-bottom: 20px;
}

/* .top-foto{
    width: 100%;
    height: 45%;
    background-color: chartreuse;

} */

#my-photo{
    /* display: none; */
    width: 100%;

    border-radius: 12px;

    height: 205px;

    object-fit: cover;
}

.personal-info, .contacts, .about-me{
    margin-top: 25px;
    font-family: Montserrat;
    font-style: normal;
}

.personal-info p:nth-child(1){
    width: 100%;
    /* height: 30.32px; */

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #4F4F4F;

}

.personal-info p:nth-child(2){
    width: 196.57px;
    /* height: 23px; */
    
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    /* Gray 3 */

    color: #828282;
}

.contacts p:nth-child(1){
    /* width: 187.16px; */
    /* height: 23px; */

    font-weight: 500;
    font-size: 1rem;
    /* line-height: 22px; */

    /* Gray 2 */

    color: #4F4F4F;

}

.fa{
    margin-right: 15px;
}

.contacts p:nth-child(2){
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 22px; */

    /* Gray 2 */

    color: #4F4F4F;
    margin-top: 5px;
}

.about-me{
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    /* Gray 3 */

    color: #828282;
}





.projects-card{
    width: 859px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 12px;
}

#left-card-container{
    background-color: rgb(242, 235, 235);

}

#dois{
    background-color: yellow;
}
/* #tres{
    background-color: rgb(37, 165, 165);
}
#quatro{
    background-color: rgb(48, 172, 120);
}
#cinco{
    background-color: rgb(104, 41, 49);
}
#seis{
    background-color: rgb(109, 110, 11);
}
#sete{
    background-color: rgb(157, 80, 91);
}
#oito{
    background-color: rgb(22, 61, 77);
}
#nove{
    background-color: rgb(126, 47, 146);
}

#dez{
    background-color: rgb(255, 0, 191);
}
 */

