*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
}

main{
    width: 100%;
    padding: 30px;

    grid-template-columns: 0.5fr 1fr;

    display: grid;

    column-gap: 30px;

    background-color: #d5d5d5;
    height: 100%;

}

/* LEFT-SIDE */
#left-card-container{
    /* background-color: rgb(242, 235, 235); */
        background-color: #d5d5d5;
    }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MY INFORMATION CARD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.left-card{
    width: 340px;
    height: 580px;
    background: #FFFFFF;

    border-radius: 12px;

    padding: 20px;

    margin-bottom: 20px;
}

#my-informations{
    height: 490px;
}

#my-photo{
    /* display: none; */
    width: 100%;

    border-radius: 12px;

    height: 205px;

    object-fit: cover;
}

.personal-info, .contacts, .about-me{
    margin-top: 25px;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
}

.personal-info p:nth-child(1){
    width: 100%;
    /* height: 30.32px; */

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #4F4F4F;

}

.personal-info p:nth-child(2){
    width: 196.57px;
    /* height: 23px; */
    
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    /* Gray 3 */

    color: #828282;
}

.contacts p:nth-child(1){
    font-weight: 500;
    font-size: 1rem;

    color: #4F4F4F;
}

.fa{
    margin-right: 15px;
}

.contacts p:nth-child(2){
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 22px; */

    /* Gray 2 */

    color: #4F4F4F;
    margin-top: 5px;
}

.about-me{
    width: 90%;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    /* Gray 3 */

    color: #828282;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ EXPERIENCES CARD +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#left-middle-card h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;

    color: #4F4F4F;
}

.experiences-card{
    display: flex;
    margin-top: 25px;
    /* justify-items: space-between; */
}


.experiences-card img{
    width: 60px;
    height: 60px;

    margin-right: 15px;
}

.time-information p:nth-child(1){
    /* width: 129px;
    height: 17px; */

    margin-top: 5px;

    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    /* identical to box height */

    color: #828282;
}

.time-information p:nth-child(2){
    width: 100%;
    height: 20px;

    margin-top: 5px;

    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */


    color: #333333;
}

.experiences-info>p{
    /* width: 100%; */

    margin-top: 15px;
    height: 80px;
    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;

    color: #828282;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ HOBBIES CARD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#hobbies-card{
    height: 684px;
}

#hobbies-card h3 {
    /* width: 101px;
    height: 29px; */

    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 20px;

    color: #4F4F4F;
}

#hobbies-card h5{

    margin-top: 8px;

    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #333333;
}

#hobbies-card p{
    margin-top: 8px;
    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */


    color: #828282;
}

.hobbies{
    margin-top: 20px;
}

.hobbies img{
    width: 298px;
    height: 120px;

    border-radius: 12px;

    object-fit: cover;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: RIGHT SIDE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ RIGHT SIDE TO INFO +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#right-side-container{
    /* background-color: rgb(242, 235, 235); */
    background-color: #cf1717; 
}

.right-side-top-container{
    width: 859px;
    height: 260px;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

    background-color: #d5d5d5;
    /* background-color: #cf1717;  */
}

.card{

    width: 415.02px;
    padding: 20px;
    border-radius: 12px;
}

.right-side-frontend{

    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    background: #FFFFFF;
}

.title-right-cards{

    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    /* font-size: 1rem; */
    text-transform: uppercase;
    
    /* Gray 2 */

    color: #4F4F4F;
}

.left-side-design{
    /* width: 415.02px; */
    /* width: 45%; */
    height: 130px;

    background: #FFFFFF;
}

.tech-container{
    display: flex;
}

.bar-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
}


.bar{
    height: 7px;
    background: #C4C4C4;
    border-radius: 12px;
}

.bar-value{
    width: 100px;
    background-color: blue;
    height: 7px;
    border-radius: 12px;
}
.tech-names{
    width: 25%;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
}

.tech-names p{
    font-style: normal;
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 1rem;
    /* line-height: 20px; */
    line-height: 1.25rem;

    color: #4F4F4F;
}

#html{
    /* width: 140px; */
    width: 78%;
}

#css{
    /* width: 110px; */
    width: 70%;
}

#js{
    /* width: 110px; */
    width: 45%;
}

/* .projects-card{
    width: 859px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 12px;
} */