*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
}

main{

    width: 100%;
    padding: 3%;

    column-gap: 20px;

    display: flex;

    background-color: #d5d5d5;
}

/* LEFT-SIDE */
#left-card-container{

        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MY INFORMATION CARD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.left-card{
    width: 305px;

    height: 580px;
    background: #FFFFFF;

    border-radius: 12px;

    padding: 15px;
}

#my-informations{
    height: 520px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#my-photo{
    width: 100%;
    height: 250px;

    border-radius: 12px;

    object-fit: cover;
}

.personal-info p:nth-child(1){

    font-weight: 600;
    font-size: 1.0625rem;

    color: #4F4F4F;
}

.personal-info p:nth-child(2){
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 5px;

    /* Gray 3 */
    color: #828282;
}

.contacts p{
    font-weight: 500;
    font-size: 0.875rem;

    color: #4F4F4F;
}

.fa{
    margin-right: 15px;
}

.contacts p:nth-child(2){
    margin-top: 7px;
}

.about-me{

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;

    /* Gray 3 */

    color: #828282;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ EXPERIENCES CARD +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#left-middle-card{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

#left-middle-card h3{

    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;

    color: #4F4F4F;
}

.experiences-card{
    display: flex;
    column-gap: 12px;
    padding-top: 5px;
}


.experiences-card img{
    width: 60px;
    height: 60px;
}

.time-information p:nth-child(1){

    font-weight: 500;
    font-size: 0.6875rem;

    color: #828282;
}

.time-information p:nth-child(2){
 
    margin-top: 5px;

    font-weight: 600;
    font-size: 0.875rem;

    color: #333333;
}

.experiences-info>p{

    margin-top: 15px;

    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 20px;

    color: #828282;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ HOBBIES CARD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#hobbies-card{
    height: 684px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#hobbies-card h3 {
    font-weight: 500;
    font-size: 1.5rem;

    color: #4F4F4F;
}

#hobbies-card h5{
    
    margin-top: 8px;

    font-weight: 600;
    font-size: 0.97rem;

    color: #333333;
}

#hobbies-card p{
    
    margin-top: 5px;

    font-weight: 500;
    font-size: 0.8rem;

    color: #828282;
}

.hobbies img{
    width: 100%;
    height: 120px;

    border-radius: 12px;

    object-fit: cover;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: RIGHT SIDE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ RIGHT SIDE TO INFO +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#right-side-container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.right-side-top-container{
    /* width: 859px; */
    height: 200px;
 
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.card{

    width: 50%;
    padding: 20px;
    border-radius: 12px;

    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    background: #FFFFFF;
}

.title-right-cards{

    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    /* font-size: 1rem; */
    text-transform: uppercase;
    
    /* Gray 2 */

    color: #4F4F4F;
}


.tech-container{
    display: flex;
}

.bar-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
}


.bar{
    height: 5px;
    background: #C4C4C4;
    border-radius: 12px;
}

.bar-value{
    width: 100px;
    background-color: blue;
    height: 5px;
    border-radius: 12px;
}
.tech-names{
    width: 25%;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
}

.tech-names p{
    font-style: normal;
    font-weight: 500;
    /* font-size: 14px; */
    font-size: 0.9rem;
    /* line-height: 20px; */
    line-height: 1.25rem;

    color: #4F4F4F;
}

#html{
    /* width: 140px; */
    width: 87%;
}

#css{
    /* width: 110px; */
    width: 75%;
}

#js{
    /* width: 110px; */
    width: 66%;
}

#react{
    width: 55%;
}

/* ######################################################################################################## */
/* Here start the centering styling */

.projects-container{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.project-title{
    height: 56px;
    display: flex;
    align-items: center;
    padding: 20px;

    border-radius: 12px;
    background-color: #fff;
}

.projects-card{
    display: flex;
    column-gap: 25px;
    height: 280px;
    /* height: 320px; */

    padding:20px;
    border-radius: 12px;
    background-color: #fff;
}

.project-photo{
    width: 35%;
    border-radius: 12px;
    object-fit:cover;
}

.project-content-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333333;
}
.project-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.techs-used{
    /* font-size: 0.875rem; */
    font-size:0.9rem;
    font-weight: 500;
}

.title-project{
    font-size: 1.5rem;
    font-weight: 500;
}

.text-content{
    font-size: 0.9rem;
    color: #828282;
    line-height:24px;
}

.buttons-container{
    display: flex;
    column-gap: 20px;
}

.buttons-container button{
    width: 110px;
    height: 40px;
    outline: none;

    font-weight: 500;    
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #2F80ED;
}

.buttons-container a{
    text-decoration: none;
    color: white;
}

.buttons-container button:nth-of-type(1){background-color: #2F80ED;  }
.buttons-container button:nth-of-type(2){background-color: #fff;}
.buttons-container button:nth-of-type(2) a{color:#2F80ED;}


/* ########################################################################################################################## */
                                                        /* BLOGG */
/* ########################################################################################################################## */
.blog-container{
    height: 350px;
    display: flex;
    column-gap: 30px;

    padding: 20px;
    border-radius: 12px;
    margin-top: 10px;
    background-color: #fff;

   
}

.content-blog{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* row-gap: 2px; */
    justify-content: space-between;
}
.blog-container img{
    width: 50%;
    cursor:pointer;
}

.blog-container h3:nth-of-type(1){
    
    width: 170px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5625rem;
    color:#333333;
}

.blog-container a{
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;

}
.blog-container a:nth-of-type(1){color: #E0E0E0;}

.blog-container a:nth-of-type(2){color: #2F80ED;}

.blog-container p{
    width: 318px;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color:#828282;
}

footer{
    height: 30px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    
    background-color: #d5d5d5;
}
footer p a{
    text-decoration: none;
    color:#333333;
}